<div
  class="d-flex flex-column align-items-center justify-content-center sectionHeader"
>
  <h1>Contact Us</h1>
  <div>
    <a class="text-decoration-none text-dark">Home</a>
    /
    <a class="text-decoration-none text-global">Contact </a>
  </div>
</div>

<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div
      class="card text-black m-5 bg-light bg-white"
      style="border-radius: 25px"
    >
      <div class="card-body py-md-5">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-7 order-2 order-lg-1">
            <h1>Send Me Message</h1>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <i class="fa-regular fa-user" style="color: #dfe2e7"></i>
                  <input type="text" placeholder="Your Name" required />
                </div>
                <div class="col-md-6">
                  <i class="fa-regular fa-envelope" style="color: #dfe2e7"></i>
                  <input type="email" placeholder="Your Email" required />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <i
                    class="fa-solid fa-phone-volume"
                    style="color: #dfe2e7"
                  ></i>
                  <input type="number" placeholder="Your Number" required />
                </div>
                <div class="col-md-6">
                  <i
                    class="fa-solid fa-circle-exclamation"
                    style="color: #dfe2e7"
                  ></i>

                  <select id="subject" name="subject">
                    <option
                      style="color: #dfe2e7"
                      value="subject"
                      disabled
                      selected
                    >
                      Select
                    </option>
                    <option value="subject1">Problem</option>
                    <option value="subject2">Opinion</option>
                    <option value="subject3">Suggest</option>
                    <option value="subject4">Feedback</option>
                    <option value="subject4">Become Instructor</option>
                    <option value="subject5">Other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">
                <i class="fa-solid fa-pencil" style="color: #dfe2e7"></i>
                <textarea
                  rows="1"
                  placeholder="Feel Free To Get In Touch"
                ></textarea>
              </div>
              <div class="row">
                <div class="col-md-3 d-flex flex-column align-items-center">
                  <button
                    id="send"
                    type="submit"
                    class="btn bg-primary text-white border-0 m-2"
                  >
                    <a
                      style="text-decoration: none; color: white"
                      class="send"
                      href="mailto:educata2023@gmail.com"
                    >
                      Send Message</a
                    >
                    <!-- <i  *ngIf="isloading" >Success</i> 
                    <span *ngIf="!isloading">Send Message</span>  -->
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="vertical-line col-md-6"></div>
          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
            <h1>Get In Touch</h1>
            <p>
              <i class="fa-solid fa-location-dot" style="color: #dfe2e7"></i>
              Address
              <br />
              <label style="color: black">
                Cairo, Nasr City , St 2553, Egypt
              </label>
            </p>
            <p>
              <i class="fa-solid fa-mobile-screen" style="color: #dfe2e7"></i>
              Phone
              <br />
              <label style="color: black"> +2 010 6063 2989</label>
            </p>
            <p>
              <i class="fa-regular fa-envelope" style="color: #dfe2e7"></i>
              Email
              <br />
              <label
                style="color: black"
                [innerHTML]="'educata2023' + '&#64;' + 'gmail.com'"
              ></label>
            </p>
            <p>Social Media</p>

            <a href="https://www.facebook.com/"
              ><i class="fa-brands mx-2 fa-twitter" style="color: #6d6f72"></i
            ></a>
            <a href="https://twitter.com/?lang=en"
              ><i
                class="fa-brands mx-2 fa-facebook-f"
                style="color: #6d6f72"
              ></i
            ></a>
            <a href="https://www.linkedin.com/">
              <i
                class="fa-brands mx-2 fa-linkedin-in"
                style="color: #6d6f72"
              ></i
            ></a>
          </div>
        </div>
        <!-- Horizontal line separating the sections -->
        <!-- Additional contact information or other content can be added here -->
      </div>
    </div>
  </div>
</div>

<iframe
  class="iframe"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13813.242694189485!2d31.340407347025923!3d30.056628071068076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e5d94c66301%3A0xddddf100de42206c!2z2YXYr9mK2YbZhyDZhti12LHYjCDYp9mE2YXZhti32YLYqSDYp9mE2KPZiNmE2YnYjCDZhdiv2YrZhtipINmG2LXYsdiMINmF2K3Yp9mB2LjYqSDYp9mE2YLYp9mH2LHYqeKArCA0NDUwMTEz!5e0!3m2!1sar!2seg!4v1698363174186!5m2!1sar!2seg"
  width="100%"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
