<div class="row my-5">
  <h3 class="fs-4 mb-3">Inactive Group</h3>
  <div class="col">
    <table class="table bg-white rounded shadow-sm table-hover text-center">
      <thead>
        <tr>
          <th scope="col" width="50">#</th>
          <th scope="col">Group Id</th>
          <th scope="col">Level</th>
          <th scope="col">Count Of Students</th>
          <th scope="col">studyPlan</th>
          <th scope="col">Show Info</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let group of allInActiveGroup; let i = index"
          class="position-relative"
        >
          <th scope="row">{{ i }}</th>
          <td>{{ group.id }}</td>
          <td>{{ group.level }}</td>
          <td>{{ group.students.length }}</td>
          <td>{{ group.studyPlan }}</td>
          <td>
            <button
              [disabled]="group.students.length <= 0"
              class="btn btn-primary"
            >
              <a
                [routerLink]="['/setting/admin/InactiveDetails', group.id]"
                class="text-white text-decoration-none"
                >Complete Data</a
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
