<div class="row my-5">
    <h3 class="fs-4 mb-3">Inactive Group </h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover text-center">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">Level</th>
                    <th scope="col">Count Of Students</th>
                    <th scope="col">Show Students</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of allInActiveGroup; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{group.level}}</td>
                    <td>{{group.students.length}}</td>
                    <td>show</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>