<div class="d-flex flex-column align-items-center justify-content-center sectionHeader">
    <h1>About Us</h1>
    <div>
        <a class="text-decoration-none text-dark">Home</a> 
        /
        <a class="text-decoration-none text-global">About</a>
    </div>
</div>
<app-static1></app-static1>
<app-instructor></app-instructor>







<br>
<div  class="text-center ">
    <h1>Our Latest Articles</h1>
    <p>
        Through a combination of lectures, readings, discussions, students will gain a solid <br>foundation in educational psychology.
    </p>
</div>






<div class="container py-5 " >
    <div class="row py-4">
        <div class="col-md-4">
            <div class="card bg-white  rounded-3">
                <div class="overflow-hidden imgContainer rounded-3 cursor-Pointer">
                    <img src="assets/images/11.jpg" class="w-100">
                </div>
                <div class="d-flex align-items-center p-3 gap-3 py-2">
                    <div class="fs-14 textIcon">
                        <i class="fa-regular fa-user" ></i>
                        Admin
                    </div>
                    <div class="fs-14 textIcon ">
                        <i class="fa-regular fa-clock primaryColor"></i>
                        June 23, 2023
                    </div>
                </div>
                <p class="fs-5 fw-bold p-3">Education Week News and Views on Education Policy and Practice.</p>
                <button id="read-more-button" class="custom-button">Read More</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-white rounded-3">
                <div class="overflow-hidden imgContainer rounded-3 cursor-Pointer">
                    <img src="assets/images/10.jpg" class="w-100">
                </div>
                <div class="d-flex align-items-center gap-3  p-3 py-2">
                    <div class="fs-14 textIcon">
                        <i class="fa-regular fa-user" ></i>
                       Admin
                    </div>
                    <div class="fs-14 textIcon ">
                        <i class="fa-regular fa-clock primaryColor"></i>
                        June 23, 2023
                    </div>
                </div>
                <p class="fs-5 fw-bold  p-3">The Learning Network Teaching and Learning With The New York Times.</p>
                <button id="read-more-button" class="custom-button">Read More</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-white  rounded-3">
                <div class="overflow-hidden imgContainer rounded-3 cursor-Pointer">
                    <img src="assets/images/9.jpg" class="w-100">
                </div>
                <div class="d-flex align-items-center p-3 gap-3 py-2">
                    <div class="fs-14 textIcon">
                        <i class="fa-regular fa-user" ></i>
                        Admin
                    </div>
                    <div class="fs-14 textIcon ">
                        <i class="fa-regular fa-clock primaryColor"></i>
                        June 23, 2023
                    </div>
                </div>
                <p class="fs-5 fw-bold p-3">Nothing is Impossible to Learn If you are Passionate About this Subject</p>
                <button id="read-more-button" class="custom-button ">Read More</button>

            </div>
        </div>
    </div>
</div>

 