<div class="d-flex flex-column align-items-center justify-content-center sectionHeader">
    <h1>About Us</h1>
    <div>
        <a class="text-decoration-none text-dark">Home</a> 
        /
        <a class="text-decoration-none text-global">About</a>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-12 my-2">
            <div class="position-relative">
                <img src="assets/images/statiP12.webp" class="w-100">
                <div class="animation-container bg-white rounded-2 position-absolute p-3 fw-500 box-shadow">
                    <p><i class="fa-solid fa-star text-star me-2"></i>4.5 (3.4k Reviews)</p>
                    <h6>Start Your journey</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 my-2">
            <div>
                <p class="special-text py-2 px-3 fw-500 bg-special">Start learning Now</p>
                <h1 class="fw-bolder fs-50">Online Course can be Tailored to Need of learners</h1>
                <p>Through a combination of lectures, readings, discussions, students will gain a solid foundation in English.</p>
                <ul class="list-unstyled fw-500">
                    <li class="position-relative d-flex align-items-center ps-3">Practice all situations and conversations</li>
                    <li class="position-relative d-flex align-items-center ps-3">Comprehensive follow-up throughout the course</li>
                    <li class="position-relative d-flex align-items-center ps-3">Attend some group lectures to practice the language in real life</li>
                </ul>
                <button class="btn btn-primary mt-3">More Details</button>
            </div>
        </div>
    </div>
</div>
<app-instructor></app-instructor>







<br>
<div  class="text-center ">
    <h1>Our Latest Articles</h1>
    <p>
        Through a combination of lectures, readings, discussions, students will gain a solid <br>foundation in educational psychology.
    </p>
</div>






<div class="container py-5 " >
    <div class="row py-4">
        <div class="col-md-4">
            <div class="card bg-white  rounded-3">
                <div class="overflow-hidden imgContainer rounded-3 cursor-Pointer">
                    <img src="assets/images/11.jpg" class="w-100">
                </div>
                <div class="d-flex align-items-center p-3 gap-3 py-2">
                    <div class="fs-14 textIcon">
                        <i class="fa-regular fa-user" ></i>
                        Admin
                    </div>
                    <div class="fs-14 textIcon ">
                        <i class="fa-regular fa-clock primaryColor"></i>
                        June 23, 2023
                    </div>
                </div>
                <p class="fs-5 fw-bold p-3">Education Week News and Views on Education Policy and Practice.</p>
                <button id="read-more-button" class="custom-button">Read More</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-white rounded-3">
                <div class="overflow-hidden imgContainer rounded-3 cursor-Pointer">
                    <img src="assets/images/10.jpg" class="w-100">
                </div>
                <div class="d-flex align-items-center gap-3  p-3 py-2">
                    <div class="fs-14 textIcon">
                        <i class="fa-regular fa-user" ></i>
                       Admin
                    </div>
                    <div class="fs-14 textIcon ">
                        <i class="fa-regular fa-clock primaryColor"></i>
                        June 23, 2023
                    </div>
                </div>
                <p class="fs-5 fw-bold  p-3">The Learning Network Teaching and Learning With The New York Times.</p>
                <button id="read-more-button" class="custom-button">Read More</button>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-white  rounded-3">
                <div class="overflow-hidden imgContainer rounded-3 cursor-Pointer">
                    <img src="assets/images/9.jpg" class="w-100">
                </div>
                <div class="d-flex align-items-center p-3 gap-3 py-2">
                    <div class="fs-14 textIcon">
                        <i class="fa-regular fa-user" ></i>
                        Admin
                    </div>
                    <div class="fs-14 textIcon ">
                        <i class="fa-regular fa-clock primaryColor"></i>
                        June 23, 2023
                    </div>
                </div>
                <p class="fs-5 fw-bold p-3">Nothing is Impossible to Learn If you are Passionate About this Subject</p>
                <button id="read-more-button" class="custom-button ">Read More</button>

            </div>
        </div>
    </div>
</div>

 