<!-- <div class="bg-light p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="p-2">
                    <p>Logo</p>
                    <p>Through a combination of lectures, readings, discussions, students will gain solid foundation in
                        educational.</p>
                    <div class="d-flex align-items-center gap-3 social-container">
                        <i class="fa-brands fa-facebook-f cursor-pointer"></i>
                        <i class="fa-brands fa-twitter cursor-pointer"></i>
                        <i class="fa-brands fa-linkedin-in cursor-pointer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <h5>Useful Link</h5>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">About Eduan</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Contact</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Help Centre</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Refund</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Conditions</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Privacy Policy</a>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <h5>Categories</h5>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Design Skills</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Development</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Marketing</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Finance & Accounting</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">IT & Software</a>
                <a class="d-block cursor-pointer text-decoration-none text-muted mb-2">Sales Marketing</a>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <h5>Newsletter</h5>
                <p>Sign up foe our newsletter and get 34%
                    off your next course</p>
            </div>
        </div>
    </div>
</div> -->


<footer class="text-center text-lg-start bg-light text-muted mt-4">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-md-block  mainColor " >
        <h6>Get connected with us on social networks  </h6>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="Social ">
        <a href="https://www.facebook.com/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/?lang=en" class="me-4 text-reset">
          <i class="fab fa-twitter "></i>
        </a>
        <a href="https://myaccount.google.com/" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
       
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold fs-3 mb-4 text-global">
                <i class="fa-solid fa-chalkboard">&nbsp;</i>   English Vibes
            </h6>
            
            <p>
                Your goal, your journey. Build confidence in your English skills wherever you plan to use them.
                Our complete English language course is clearly set out, with interactive vocab, grammar and cultural know-how for all skill levels, in focused bite-sized lessons. 
               Get all the learning and practice you need to feel supported every step of the way.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase text-reset fw-bold mb-4 text-global">
              Products
            </h6>
            <p class="list">
             
              <a class="text-reset fs-5" routerLink="/aboutus"  style="text-decoration: none;">About Us</a>
      
            </p>
            <p class="list">
              <a routerLink="/contact" class="text-reset fs-5" style="text-decoration: none;">Contact</a>

            </p>
            <p class="list">
              <a routerLink="/contact" class="text-reset fs-5" style="text-decoration: none;">Help Centre</a>
            </p>
            <p class="list">
              <a routerLink="/contact" class="text-reset fs-5" style="text-decoration: none;">Privacy Policy</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-global">
              Useful links
            </h6>
            <p class="list">
              <a routerLink="/contact" class="text-reset fs-5" style="text-decoration: none;">Pricing</a>
            </p>
            <p class="list">
              <a routerLink="/contact" class="text-reset fs-5" style="text-decoration: none;">Settings</a>
            </p>
            <p class="list">
              <a routerLink="/courses" class="text-reset fs-5" style="text-decoration: none;">Courses</a>
            </p>
            <p class="list">
              <a routerLink="/contact"class="text-reset fs-5" style="text-decoration: none;">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-global">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Cairo, Nasr City , St 2553, Egypt</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              educata2023@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +2 010 6063 2989</p>
            <p><i class="fas fa-print me-3"></i>+1 335 621 79</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
  
  </footer>