
 .logo{
    font-size: 35px;
    color: #c72092;
    margin-left: 65px ;
    cursor: pointer;
    position: relative;
    left: -4%;
}

 .logo span{
    color: #6c14d0;
    text-decoration: underline;
}