
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 col-12 mb-3">
            <div class="inscontainer p-5 rounded-3 h-100">
                <h1 class="fw-bold">Our Most Experience Instructors</h1>
                <button routerLink="/contact" class="btn btn-primary mt-3">Become An Instructor</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/instructor 11.png" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Mahmoud Abdelbaset</h6>
                    <p class="fs-13 mb-0">Lead Teacher</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/instructor 4.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Yaseer Abdulrahman</h6>
                    <p class="fs-13 mb-0"> Teacher</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/instrucor1.webp" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Norhan Ahmed</h6>
                    <p class="fs-13 mb-0"> Teacher</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/instructor2.png" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Karmen Hosaam</h6>
                    <p class="fs-13 mb-0"> Teacher</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/instructor3.png" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Ibrahim Mohammed</h6>
                    <p class="fs-13 mb-0"> Teacher</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/instructor6.png" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Mohammed Gaber</h6>
                    <p class="fs-13 mb-0"> Teacher</p>
                </div>
            </div>
        </div>
    </div>
</div>