<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Plan</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col"></th>

      </tr>

      <tr >
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td><a [routerLink]="['/setting/admin/completeWaiting']" class="btn btn-success btn-sm" role="button" aria-pressed="true"> Active</a></td>

    </tr>
    </thead>
    