<div class="p-5 rounded-4 headerContainer">
    <div class="row ">
        <div class="col-lg-6 col-12 firstDiv d-flex align-items-center">
            <div>
                <p class="special-text bg-light py-2 px-3 fw-500">Online Learning Platform</p>

                <h1 class="fw-bolder fs-50">Excel in English Proficiency, Elevate Your Opportunities.</h1>
                <p>Experience comprehensive and engaging English language learning through an innovative and user-friendly e-learning website.</p>
                
                <a routerLink="/courses" class="btn btn-warning fw-500" role="button" aria-pressed="true"> View All Courses</a>
            </div>
        </div>
        <div class="col-lg-6 d-lg-block d-none">
           <div class="position-relative">
            <img src="assets/images/headerImg.png" class="w-100">
            <div class="animation-container bg-white rounded-2 position-absolute p-3 fw-500">
                <p><i class="fa-solid fa-star text-star me-2"></i>4.5 (3.4k Reviews)</p>
                <h6>Congratulations</h6>
            </div>
            <div class="position-absolute p-3 d-flex gap-2 static-container bg-white rounded-2">
                <div><img class="circular--square" src="assets/images/headerReview .jpg"></div>
                <div>
                    <h5>Noor Mustafa</h5>
                    <p>“Outstanding support and resources for learners. The community aspect adds an extra dimension to the courses”.</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>