



<div class="row my-5">
    <h3 class="fs-4 mb-3">INSTRUCTORS </h3>
    <div class="col">
      <table class="table bg-white rounded shadow-sm table-hover">
        <thead>
          <tr>
            <th scope="col" width="50">#</th>
            <th scope="col">students</th>
            <th scope="col">groupWeekDays</th>
            <th scope="col">groups</th>
         
          
        </thead>
        <tbody>
           
    <tr >
      <td>
     {{allinstrutorsid.students}}
    </td>
    <td>
      {{allinstrutorsid.groupWeekDays}}
    </td>
    <td>
      {{allinstrutorsid.groups}}
    </td>
    </tr>
                      
  
        </tbody>
      </table>
    </div>
  </div>

  <ejs-schedule [eventSettings]="eventSettings"></ejs-schedule>














  