<div class="row my-5">
    <h3 class="fs-4 mb-3">Active Group </h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">Level</th>
                    <th scope="col">timeSlot</th>
                    <th scope="col">instructor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of allActiveGroup; let i = index">
                    <th scope="row">{{i}}</th>
                    <td scope="row">{{group.level}}</td>
                    <td>{{group.timeSlot | date: 'dd/MM/yyyy'}}</td>
                    <td>{{group.instructor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>