<div [ngClass]="status ? 'toggled' : ''" class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div
      class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"
    >
      <i class="fa-solid fa-list-check me-2"></i>Admin
    </div>

    <div class="list-group list-group-flush my-3">
      <a
        routerLink="ins"
        routerLinkActive="bg-primary text-global rounded-2 fw-500"
        class="list-group-item list-group-item-action bg-transparent second-text active"
        ><i class="fa-solid fa-chalkboard-user me-2"></i>Instructors</a
      >

      <a
        routerLink="active"
        routerLinkActive="bg-primary text-global rounded-2 fw-500"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-sharp fa-solid fa-people-group me-2"></i>Active Group
      </a>

      <a
        routerLink="Inactive"
        routerLinkActive="bg-primary text-global rounded-2 fw-500"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-sharp fa-solid fa-people-group me-2"></i>Inactive Group</a
      >

      <a
        routerLink="Waiting"
        routerLinkActive="bg-primary text-global rounded-2 fw-500"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-circle-pause me-2"></i>Waiting List</a
      >

      <a
        routerLink="actStudent"
        routerLinkActive="bg-primary text-global rounded-2 fw-500"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-user me-2"></i>Active Students</a
      >

      <a
        routerLink="admindetails"
        routerLinkActive="bg-primary text-global rounded-2 fw-500"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-user-plus me-2"></i>Add Admin</a
      >

      <a
        (click)="logOut()"
        class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"
        ><i class="fas fa-power-off me-2"></i>Logout</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <i
          class="fas fa-align-left primary-text fs-4 me-3"
          (click)="addToggle()"
          id="menu-toggle"
        ></i>
        <h2 class="fs-2 m-0">Dashboard</h2>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle second-text fw-bold"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user me-2"></i>Omar k
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid px-4">
      <div class="row g-3 my-2">
        <div class="row g-2 my-2">
          <div>
            <div
              class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-1">stand with palestine</h3>
              </div>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCxxrQ_8DxRpcx0WPvfnzeYibifv6NnEwPsGN35gEm&s"
              />
            </div>
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
