<div class="container py-5">
    <div class="text-container text-center">
        <p class="special-text py-2 px-3 fw-500 bg-special mx-auto">Student Reviews</p>
        <h1 class="fw-bolder fs-50">What Our Students Saying</h1>
        <p>Mastery of English empowers individuals to access a wealth of knowledge, resources, and entertainment available in the language, including literature, media, and academic materials.</p>
    </div>
    <div class="row">
        <div class="">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="p-2">
                        <div class="p-4 rounded-3 slider-review">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-2">
                                    <div class="img-container slider-review">
                                        <img class="circular--square" src="assets/images/review 3.png">
                                    </div>
                                    <div>
                                        <h6 class="mb-0 fs-13">Tarek Ali </h6>
                                        <p class="mb-0 fs-13 fw-500">Round s-7</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                </div>
                            </div>
                            <p class="p-2">
                                The flexibility this e-learning platform offers is fantastic. I can access the materials at my own pace and convenience. The mobile app is a great addition, allowing me to learn on the go. The affordability coupled with the high-quality resources makes it an ideal choice for continuous learning.
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="p-2">
                        <div class="p-4 rounded-3 slider-review">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-2">
                                    <div class="img-container slider-review">
                                        <img src="assets/images/review 2.png">
                                    </div>
                                    <div>
                                        <h6 class="mb-0 fs-13">Sara K</h6>
                                        <p class="mb-0 fs-13 fw-500">Round 20</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-regular fa-star text-star me-2"></i>
                                </div>
                            </div>
                            <p class="p-2">
                                This e-learning platform is exceptional! The variety of courses offered is vast, allowing me to explore different subjects. The user-friendly interface makes navigation a breeze, and the quality of content is top-notch. Highly recommended for anyone seeking quality online education.
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="p-2">
                        <div class="p-4 rounded-3 slider-review">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-2">
                                    <div class="img-container slider-review">
                                        <img src="assets/images/review 1.png">
                                    </div>
                                    <div>
                                        <h6 class="mb-0 fs-13">Nada Ahmed</h6>
                                        <p class="mb-0 fs-13 fw-500">privet s-5</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                </div>
                            </div>
                            <p class="p-2">
                                I'm thoroughly impressed with the interactive quizzes and assignments provided by this e-learning site. The instant feedback and progress tracking keep me motivated. The instructors are knowledgeable and responsive, making the learning experience engaging and enriching. A definite go-to for those wanting a dynamic learning environment.
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="p-2">
                        <div class="p-4 rounded-3 slider-review">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-2">
                                    <div class="img-container slider-review">
                                        <img src="assets/images/review 4.png">
                                    </div>
                                    <div>
                                        <h6 class="mb-0 fs-13">Osman Ziad</h6>
                                        <p class="mb-0 fs-13 fw-500"> Group a-10</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-solid fa-star text-star me-2"></i>
                                    <i class="fa-regular fa-star text-star me-2"></i>
                                </div>
                            </div>
                            <p class="p-2">
                                The community aspect of this e-learning website is a game-changer. Engaging in discussions with fellow learners and instructors creates a supportive environment. The diverse range of perspectives adds depth to the courses. The collaborative projects further enhance the learning experience, making it truly comprehensive and enriching.                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>