<div class="bg-light py-5">
    <div class="container">
        <p class="special-text py-2 px-3 fw-500 bg-special">Conference on Education</p>
        <h1 class="fw-bolder fs-50">Upcoming Events</h1>
        <div class="row py-4">
            <div class="col-md-4 col-12 my-2">
                <div class="bg-white p-3 rounded-2 box-shadow">
                    <div class="position-relative overflow-hidden cursor-pointer img-container rounded-3">
                        <img src="assets/images/static2Img1.png" class="w-100">
                    </div>
                    <div class="d-flex align-items-center gap-3 py-2">
                        <p><i class="fa-solid fa-location-dot text-main me-2 fa-sm"></i>London, US</p>
                        <p><i class="fa-regular fa-clock text-main me-2 fa-sm"></i>8.00 am - 6.00 pm</p>
                    </div>
                    <h5 class="fw-bolder">The Whole Child Fostering Social and Emotional Development.</h5>
                </div>
            </div>
            <div class="col-md-4 col-12 my-2">
                <div class="bg-white p-3 rounded-2 box-shadow">
                    <div class="position-relative overflow-hidden cursor-pointer img-container rounded-3">
                        <img src="assets/images/static2Img2.png" class="w-100">
                    </div>
                    <div class="d-flex align-items-center gap-3 py-2">
                        <p><i class="fa-solid fa-location-dot text-main me-2 fa-sm"></i>London, US</p>
                        <p><i class="fa-regular fa-clock text-main me-2 fa-sm"></i>8.00 am - 6.00 pm</p>
                    </div>
                    <h5 class="fw-bolder">The Whole Child Fostering Social and Emotional Development.</h5>
                </div>
            </div>
            <div class="col-md-4 col-12 my-2">
                <div class="bg-white p-3 rounded-2 box-shadow">
                    <div class="position-relative overflow-hidden cursor-pointer img-container rounded-3">
                        <img src="assets/images/static2Img3.png" class="w-100">
                    </div>
                    <div class="d-flex align-items-center gap-3 py-2">
                        <p><i class="fa-solid fa-location-dot text-main me-2 fa-sm"></i>London, US</p>
                        <p><i class="fa-regular fa-clock text-main me-2 fa-sm"></i>8.00 am - 6.00 pm</p>
                    </div>
                    <h5 class="fw-bolder">The Whole Child Fostering Social and Emotional Development.</h5>
                </div>
            </div>
        </div>
    </div>
</div>