<div class="bg-light py-5">
    <div class="container">
        <p class="special-text py-2 px-3 fw-500 bg-special">Fun with English</p>
        <h1 class="fw-bolder fs-50">Upcoming Events</h1>
        <div class="row py-4">
            <div class="col-md-4 col-12 my-2">
                <div class="bg-white p-3 rounded-2 box-shadow">
                    <div class="position-relative overflow-hidden cursor-pointer img-container rounded-3">
                        <img src="assets/images/statiP21.jpeg" class="w-100">
                    </div>
                    <div class="d-flex align-items-center gap-3 py-2">
                        <p><i class="fa-solid fa-location-dot text-main me-2 fa-sm"></i>greek campus , Cairo</p>
                        <p><i class="fa-regular fa-clock text-main me-2 fa-sm"></i>10.00 am - 4.00 pm</p>
                    </div>
                    <h5 class="fw-bolder">Exploring Diverse English Dialects: Regional Variations and Cultural Significance.</h5>
                </div>
            </div>
            <div class="col-md-4 col-12 my-2">
                <div class="bg-white p-3 rounded-2 box-shadow">
                    <div class="position-relative overflow-hidden cursor-pointer img-container rounded-3">
                        <img src="assets/images/statiP22.jpg" class="w-100">
                    </div>
                    <div class="d-flex align-items-center gap-3 py-2">
                        <p><i class="fa-solid fa-location-dot text-main me-2 fa-sm"></i>alexandria library P-5 , Alex</p>
                        <p><i class="fa-regular fa-clock text-main me-2 fa-sm"></i>8.00 am - 2.00 pm</p>
                    </div>
                    <h5 class="fw-bolder">The Role of English in a Globalized World: Language, Communication, and Business.</h5>
                </div>
            </div>
            <div class="col-md-4 col-12 my-2">
                <div class="bg-white p-3 rounded-2 box-shadow">
                    <div class="position-relative overflow-hidden cursor-pointer img-container rounded-3">
                        <img src="assets/images/statiP23.jpg" class="w-100">
                    </div>
                    <div class="d-flex align-items-center gap-3 py-2">
                        <p><i class="fa-solid fa-location-dot text-main me-2 fa-sm"></i>Online Meeting , Zoom</p>
                        <p><i class="fa-regular fa-clock text-main me-2 fa-sm"></i> 3.00 pm - 8.00 pm</p>
                    </div>
                    <h5 class="fw-bolder">Digital Era English: Language Evolution in the Age of Technology and Social Media.</h5>
                </div>
            </div>
        </div>
    </div>
</div>