<div class="container py-5">
    <div class="row">
        <div class="col-md-12 col-12 mb-5">
            <div class="inscontainer p-5  h-100">
                <h1  class="fw-bold text-light mt-5">Our Comprehensive Course </h1>
                <button class="btn btn-dark mt-5">Let's Start</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3 ">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 1.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">First Language English</h6>
                    <p class="fs-13 mb-0">Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 5.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">English B online</h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 8.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class=""> English Language Odyssey </h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 4.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">English  as a 2nd Language</h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 9.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">Real English</h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3 ">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 6.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">the Principles of English</h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 7.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">English Language  GURU</h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3 mt-3">
            <div class="position-relative overflow-hidden cursor-pointer containerOverlay rounded-3">
                <img src="assets/images/book 3.jpg" class="w-100">
                <div class="position-absolute insOverlay bg-white py-2 px-3 rounded-3 text-center">
                    <h6 class="">English  as a 2nd Language</h6>
                    <p class="fs-13 mb-0"> Course</p>
                </div>
            </div>
        </div>
    </div>

    <div type="text" class="mt-5"  aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        
        <h3 class="text-center fw-bold bg-primary text-light rounded-3 p-3">Our Courses</h3>
        <h1 class="mt-4 mb-3">Welcome to our extensive collection of online courses</h1>
        <h6>Designed to cater to a wide array of interests and skill levels. Whether you're a novice looking to explore new subjects or a professional aiming to enhance your expertise, our platform offers a diverse range of courses taught by seasoned instructors. From business and technology to arts, humanities, and beyond, our courses are meticulously crafted to provide engaging and interactive learning experiences. With flexible schedules and accessible materials, you can learn at your own pace from anywhere in the world. Join our vibrant online community today and embark on a journey of continuous learning and personal development.</h6>
      
    </div>


    
</div>