
<div class="row my-5">
    <h3 class="fs-4 mb-3"> Details </h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Level</th>
                    <th scope="col">paln</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            
                
                <tr *ngFor="let Details of DetailsStudent; let i = index">
                    <th scope="row">{{i}}</th>
                    <td scope="row">{{Details.userName}}</td>
                    <td>{{Details.groupId}}</td>
                    <td>{{Details.currentLevel}}</td>
                    <td>{{Details.selectedStudyPlan}}</td>
                    <td><a href="#" class="btn btn-outline-success  btn-sm" role="button" aria-pressed="true"> Details</a></td>
                </tr>
            
                
            </tbody>
        </table>
    </div>
</div>