<!-- <div class="row my-5">
    <h3 class="fs-4 mb-3"> Details </h3>
    <div class="col">
        <table class="table table-hover table-dark rounded shadow-sm ">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Level</th>
                    <th scope="col">paln</th>
                    <th scope="col">Email</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">PayedAmount</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td scope="row">{{DetailsStudent.userName}}</td>
                    <td>{{DetailsStudent.groupId}}</td>
                    <td>{{DetailsStudent.currentLevel}}</td>
                    <td>{{DetailsStudent.selectedStudyPlan}}</td>
                    <td>{{DetailsStudent.email}}</td>
                    <td>{{DetailsStudent.phoneNumber}}</td>
                    <td>{{DetailsStudent.payedAmount}}</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
 -->

<div  class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Student Details</h5>

        <table class="table">
 
            <tbody>
              <tr >
                <th scope="row" >Name</th>
                <td>{{DetailsStudent.userName}}</td>
              </tr>
              <tr>
                <th scope="row">Group</th>
                <td>{{DetailsStudent.groupId}}</td>
              </tr>
              <tr>
                <th scope="row">Level</th>
                <td>{{DetailsStudent.currentLevel}}</td>
              </tr>
              <tr>
                <th scope="row">paln</th>
                <td>{{DetailsStudent.selectedStudyPlan}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{DetailsStudent.email}}</td>
              </tr>
              <tr>
                <th scope="row">PhoneNumber</th>
                <td>{{DetailsStudent.phoneNumber}}</td>
              </tr>
              <tr>
                <th scope="row">PayedAmount</th>
                <td>{{DetailsStudent.payedAmount}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

