<div class="row my-5">
    <h3 class="fs-4 mb-3">Active Students </h3>
    <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Level</th>
                    <th scope="col">paln</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let Student of allActiveStudent; let i = index">
                    <th scope="row">{{i}}</th>
                    <td scope="row">{{Student.userName}}</td>
                    <td>{{Student.groupId}}</td>
                    <td>{{Student.currentLevel}}</td>
                    <td>{{Student.selectedStudyPlan}}</td>
                    <td><a [routerLink]="['/setting/admin/Detalis', Student.id]" class="btn btn-outline-success  btn-sm"
                            role="button" aria-pressed="true"> Details</a></td>
                </tr>


            </tbody>
        </table>
    </div>
</div>