    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-12 my-2">
                <div class="position-relative">
                    <img src="assets/images/static1Img.png" class="w-100">
                    <div class="animation-container bg-white rounded-2 position-absolute p-3 fw-500 box-shadow">
                        <p><i class="fa-solid fa-star text-star me-2"></i>4.5 (3.4k Reviews)</p>
                        <h6>Congratulations</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 my-2">
                <div>
                    <p class="special-text py-2 px-3 fw-500 bg-special">Start learning Free</p>
                    <h1 class="fw-bolder fs-50">Online Course can be Tailored to Need of learners</h1>
                    <p>Through a combination of lectures, readings, discussions, students will gain a solid foundation in educational psychology.</p>
                    <ul class="list-unstyled fw-500">
                        <li class="position-relative d-flex align-items-center ps-3">International course collection in 14 languages</li>
                        <li class="position-relative d-flex align-items-center ps-3">Top certifications in tech and business</li>
                        <li class="position-relative d-flex align-items-center ps-3">Access to 35,000+ top Eduan courses, anytime, anywhere</li>
                    </ul>
                    <button class="btn btn-primary mt-3">More Details</button>
                </div>
            </div>
        </div>
    </div>
