    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-12 my-2">
                <div class="position-relative">
                    <img src="assets/images/statiP13.webp" class="w-100">
                    <div class="animation-container bg-white rounded-2 position-absolute p-3 fw-500 box-shadow">
                        <p><i class="fa-solid fa-star text-star me-2"></i>4.5 (3.4k Reviews)</p>
                        <h6>Congratulations</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 my-2">
                <div>
                    <p class="special-text py-2 px-3 fw-500 bg-special">Start learning Now</p>
                    <h1 class="fw-bolder fs-50">Online courses can be customized to suit the specific needs of learners</h1>
                    <p> Through a combination of lectures, readings, discussions, students will gain a solid foundation in English.</p>
                    <ul class="list-unstyled fw-500">
                        <li class="position-relative d-flex align-items-center ps-3">An elite group of the best Instructors</li>
                        <li class="position-relative d-flex align-items-center ps-3">Practice all situations and conversations</li>
                        <li class="position-relative d-flex align-items-center ps-3">Comprehensive follow-up throughout the course</li>
                        <li class="position-relative d-flex align-items-center ps-3">Attend some group lectures to practice the language in real life</li>
                    </ul>
                    <a routerLink="/courses" class="btn btn-primary fw-500 mt-5" role="button" aria-pressed="true"> More Details</a>

                </div>
            </div>
        </div>
    </div>
